<div id="main">
  <div class="header">
    <h1 class="title">STOCK <span>APP</span></h1>
  </div>
  <div class="main_frame">
    <div class="content">
      <table class="stock_table" *ngIf="data">
        <thead>
          <tr>
            <th> {{data.author}} </th>
            <th>Price</th>
            <th>Last Updated</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>AAPL</td>
            <td>130.08</td>
            <td>10 PM</td>
          </tr>
          <tr>
            <td>AAPL</td>
            <td>130.08</td>
            <td>10 PM</td>
          </tr>
          <tr>
            <td>AAPL</td>
            <td>130.08</td>
            <td>10 PM</td>
          </tr>
          <tr>
            <td>AAPL</td>
            <td>130.08</td>
            <td>10 PM</td>
          </tr>
          <tr>
            <td>AAPL</td>
            <td>130.08</td>
            <td>10 PM</td>
          </tr>
          <tr>
            <td>AAPL</td>
            <td>130.08</td>
            <td>10 PM</td>
          </tr>
        </tbody>
      </table>
      <br>
      <button (click)="sendMsg()">Get the stocks data</button>
    </div>
    <div class="faq">
      
    </div>
  </div>
  <div class="footer"></div>
</div>



